@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
font-size: 100%;
line-height: 1.5;
font-family: 'Roboto', sans-serif;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

img {
width: 100%;
border: 4px solid #bbb;
}

.active img {
border-color: #666;
}

#imageGallery {
list-style: none;
display: flex;
}

#imageGallery li {
flex: 1 1 auto;
}

#content {
position: relative;
}
#content img {
border: none;
}
#content p {
background-color: rgba(0,0,0,0.5);
position: absolute;
bottom: 0.5rem;
color: white;
padding: 1rem;
width: 100%;
}